body {
    background-color: rgb(42, 76, 114);
    margin: auto;
    width: 100%;
}
nav ul, footer ul {
    padding: 0px;
}
nav ul li, footer ul li {
    display: inline;
}
.navbar-default {
    background-color: rgba(230,230,230,.6);
    border: 0px;
}
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
footer ul li {
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 20px;
}
ol, ul {
    margin-bottom: 5px;   
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    font-size: 2em;
    line-height: 1.4em;
    color: rgba(240,240,240,.9);
}
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 1px;
    background-color: rgba(230,230,230,.6);
    text-align: center;
    width: 100%;
    margin-top: 1%;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
.header {
    text-align: center;
    font-size: 4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.container {
    width: 100%;
}
#homePic {
    float:left;
    margin-bottom: 1%;
    margin-right: 1%;
    max-width:100%;
    height:auto;
    width: 30%;
    border: 1px solid rgba(40,40,40,.8);
    box-shadow:3px 3px 3px rgba(40,40,40,.5);
}
.homeText {
    word-wrap:break-word;
}
.resumeBlurb {
    text-align:center;
}
#irisPanel {
    background-color: rgb(175, 148, 55);
    color: rgba(240,240,240,.8);
    min-height:330px;
    max-height:330px;
}
#irisPic, #harambePic {
    height:300px;
    border: 1px solid rgba(40,40,40,.8);
    box-shadow:7px 7px 7px rgba(40,40,40,.5);
    float:left;
}
.irisText {
    word-wrap:break-word;
    margin-top:87px;
}
.panel {
    border:1px;
}
#harambePanel {
    background-color:rgb(175, 127, 55);
}
