@font-face {
    font-family: myFirstFont;
    src: url(SansationLight.woff);
}
body {
    background-color: rgb(42, 76, 114);
    margin: auto;
    width: 100%;
    font-family: myFirstFont;
}
nav ul, footer ul {
    padding: 0px;
}
nav ul li, footer ul li {
    display: inline;
}
.navbar-default {
    background-color: rgba(230,230,230,.6);
    border: 0px;
}
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
footer ul li {
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 20px;
}
ol, ul {
    margin-bottom: 5px;   
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    font-size: 2em;
    line-height: 1.4em;
    color: rgba(240,240,240,.9);
    font-family: myFirstFont;
}
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 1px;
    background-color: rgba(230,230,230,.6);
    text-align: center;
    width: 100%;
    margin-top: 1%;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
.header {
    text-align: center;
    font-size: 4em;
    font-family: myFirstFont;
}
.container {
    width: 100%;
}
#homePic {
    float:left;
    margin-bottom: 1%;
    margin-right: 1%;
    max-width:100%;
    height:auto;
    width: 30%;
    border: 1px solid rgba(40,40,40,.8);
    box-shadow:3px 3px 3px rgba(40,40,40,.5);
}
.homeText {
    word-wrap:break-word;
}
.resumeBlurb {
    text-align:center;
}
#irisPanel {
    background-color: rgb(175, 148, 55);
    color: rgba(240,240,240,.8);
    min-height:330px;
    max-height:330px;
}
#irisPic, #harambePic {
    height:300px;
    float:left;
}
#irisPic {
    border: 1px solid rgba(40,40,40,.8);
    box-shadow:7px 7px 7px rgba(40,40,40,.5);
}
.irisText {
    word-wrap:break-word;
    margin-top:5%;
    margin-left: 545px;
    background-color: rgba(0,0,0,.01);
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}
.panel {
    border:1px;
}
#harambePanel {
    background-color:rgb(175, 127, 55);
}
#irisPanel:hover, #harambePanel:hover {
    opacity: 0.8;
}
.harambeText {
    word-wrap:break-word;
    margin-top: 5%;
    margin-left: 545px;
    background-color: rgba(0,0,0,.01);
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}
#giraffePic {
    max-height: 750px;
    float: right;
    margin-left: 1%;
    box-shadow: 5px 5px 5px rgba(0,0,0,.4);
    border: 1px solid rgba(40,40,40,.8);
}




/* Style the Image Used to Trigger the Modal */
#skiPic {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#skiPic:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    height: 100vh;
    width: 100%;
    background-color: rgb(70,70,70);
    opacity:.3;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    background-color:white;
    opacity:.2;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
