 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm currently a Software Engineer at Amazon, working in the Devices org. Before that, I was a Software Engineer at Charles Schwab working on their robo-adviser: Schwab Intelligent Portfolios. I graduated from CU-Boulder in 2018 with a BS in CS, and I'm starting a MS in CS in January 2022 at Georgia Tech.</p>
                </div>
                <div class="col-lg-4">
                    <p>When I'm not building software, you can probably find me outdoors. I enjoy hiking (I've done 30 fourteeners), running (currently training for a marathon), hunting and fishing. Indoors, I enjoy lifting weights, reading, and playing PS5 (currently working on RDR2).</p>
                </div>
            </div>
        </div>
    </section>
